/* -----------------------------------------
	Table of Contents
--------------------------------------------

.. 01. General
.. 02. Main Navigation
.. 03. Header
.. 04. Modules
.. 05. Footer
.. 06. Mobile Menu
.. 07. Global Mediaqueries

*/
/* -----------------------------------------
	01. General
----------------------------------------- */
/* Basic Typography
=================================== */
body {
  line-height: 1.2;
  font-size: 24px;
  color: #fff;
  font-family: "Tinos", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 0 0 15px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-weight: 300;
  margin: 0 0 15px 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
  outline: none;
  color: #D2B9A7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #e3d4c9;
  outline: none;
  text-decoration: none;
}

a:active {
  outline: none;
}

.group:before, .group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.group:after {
  clear: both;
}

/* General Element Styling
=================================== */
/* Reset figure margin from normalize.css */
figure {
  margin: 0;
}

/* Lists */
ul, ol {
  padding-left: 20px;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

dl {
  margin: 0 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 15px;
}

/* Blockquotes */
blockquote {
  margin: 20px 0;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font-size: 17px;
  font-weight: 300;
}

blockquote cite {
  display: block;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.entry-content table {
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
}

.entry-content th:first-child,
.entry-content td:first-child {
  padding-left: 0;
}

.entry-content th,
.entry-content td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.entry-content caption,
.entry-content th,
.entry-content td {
  font-weight: normal;
  text-align: left;
  padding: 5px;
  vertical-align: middle;
}

.entry-content th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
}

.entry-content td {
  border-width: 0 1px 1px 0;
}

/* Code */
code, kbd, tt, var, samp, pre {
  font-family: monospace, serif;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-style: normal;
}

pre {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Various */
address {
  margin: 0 0 15px;
}

.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Embeds and iframes
=================================== */
embed,
iframe,
object,
video,
audio {
  margin-bottom: 15px;
  max-width: 100%;
}

p > embed,
p > iframe,
p > object,
p > audio,
span > embed,
span > iframe,
span > object,
span > audio {
  margin-bottom: 0;
}

#map,
.map * {
  max-width: none !important;
}

/* General Form Styling
=================================== */
label {
  display: block;
  margin: 0 0 2px;
  font-weight: normal;
}

input,
textarea {
  display: inline-block;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  height: 36px;
  padding: 6px 12px;
  box-shadow: none;
  line-height: normal;
  border: 1px solid #ccc;
  background-color: #FFF;
  background-image: none;
  border-radius: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 767px) {
  input,
  textarea {
    width: 100%;
  }
}

input[type="search"] {
  /* Restoring box-sizing */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  height: auto;
}

select {
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  width: auto;
  height: auto;
}

fieldset {
  margin: 0 0 15px;
  padding: 0;
  border: none;
  min-width: 0;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  opacity: 1;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  opacity: 1;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  opacity: 1;
}

/* Buttons
=================================== */
.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  border: 2px solid;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.18s background-color ease, color 0.18s ease, 0.18s border-color ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0;
  width: auto;
  height: auto;
  background-image: none;
  padding: 20px 12px;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
}

.btn i,
input[type="button"] i,
input[type="submit"] i,
input[type="reset"] i,
button i {
  vertical-align: top;
}

.btn:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  outline: none;
}

.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background: #fff;
  color: #D2B9A7;
  text-decoration: none;
}

.btn:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus {
  outline: none;
}

.btn.btn-cta,
input[type="button"].btn-cta,
input[type="submit"].btn-cta,
input[type="reset"].btn-cta,
button.btn-cta {
  font-size: 24px;
  height: 72px;
  min-width: 225px;
  position: relative;
}

.btn.btn-cta:after,
input[type="button"].btn-cta:after,
input[type="submit"].btn-cta:after,
input[type="reset"].btn-cta:after,
button.btn-cta:after {
  content: '';
  display: block;
  min-width: inherit;
  height: inherit;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 5px;
  right: -9px;
}

.btn.btn-cta:hover, .btn.btn-cta:focus,
input[type="button"].btn-cta:hover,
input[type="button"].btn-cta:focus,
input[type="submit"].btn-cta:hover,
input[type="submit"].btn-cta:focus,
input[type="reset"].btn-cta:hover,
input[type="reset"].btn-cta:focus,
button.btn-cta:hover,
button.btn-cta:focus {
  background: #fff;
  color: #D2B9A7;
}

/* Text Alignment Helpers
=================================== */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

/* -----------------------------------------
	03. Header
----------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header .lang-change {
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.header .lang-change button {
  padding: 0;
  border: 0;
}

.logo {
  width: 200px;
  margin: 30px auto 0;
  position: relative;
}

.logo p {
  color: #4A4A4A;
  text-align: right;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 700;
  margin-right: 13px;
  margin-top: -7px;
  letter-spacing: -0.06em;
}

.logo .plane-icon {
  position: absolute;
  right: -47px;
  top: 17px;
}

.logo .plane-icon i {
  color: #4A4A4A;
  font-size: 60px;
  transform: rotateZ(-90deg);
}

.lang-chooser-container {
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s ease;
}

.lang-chooser-container.visible {
  visibility: visible;
  opacity: 1;
}

.lang-chooser-container .close i {
  color: #D2B9A7;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-lang-chooser {
  font-weight: 700;
}

.btn-lang-chooser:focus, .btn-lang-chooser:hover {
  background: none;
}

.language-chooser {
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.language-chooser li {
  margin-bottom: 15px;
}

.language-chooser a {
  font-size: 30px;
  font-weight: 700;
}

/* -----------------------------------------
	04. Modules
----------------------------------------- */
.bold {
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.line {
  display: block;
  background: #fff;
  height: 2px;
}

.line.line-center {
  margin-left: auto;
  margin-right: auto;
}

.line.secondary-color {
  background: #4A4A4A;
}

.double-down-icon {
  display: block;
  margin-top: 10px;
}

.double-down-icon i {
  display: block;
  line-height: 0.3;
}

.amount {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
}

.amount .integ {
  font-size: 1.5em;
}

.vline {
  display: inline-block;
  background: #fff;
  width: 2px;
  height: 103px;
}

/*     Hero
=====================*/
.hero {
  position: relative;
}

.hero-lower,
.hero-upper {
  position: relative;
  -webkit-transform-style: preserve-3d;
}

.hero-upper {
  height: 65vh;
  min-height: 330px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero-upper .double-down-icon {
  animation: upDown 1s ease infinite;
}

.styling-circles {
  position: relative;
  top: 17%;
}

.circle-back,
.circle-front {
  background: #D2B9A7;
  border-radius: 50%;
  position: absolute;
  box-shadow: 3px 4px 9px 7px rgba(0, 0, 0, 0.06);
}

.circle-back {
  width: 155px;
  height: 155px;
  top: 40px;
  left: -10px;
}

.circle-front {
  width: 120px;
  height: 120px;
  top: 20px;
  left: -45px;
}

.circle-front:after {
  content: '';
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 77.5px;
  border: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: -10px;
  left: -10px;
  animation: rotate 60s infinite;
}

.hero-main-text {
  color: #fff;
  font-size: 36px;
  line-height: 38px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  width: 290px;
}

.hero-lower {
  line-height: 25px;
  height: 35vh;
  min-height: 200px;
  background: #D2B9A7;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.08);
}

.hero-lower p {
  margin-bottom: 20px;
}

.hero-lower > i {
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: #D2B9A7;
}

.call-now .btn-cta,
.extras .btn-cta,
.hero-lower .btn-cta {
  font-size: 28px;
}

.call-now .btn-cta i,
.extras .btn-cta i,
.hero-lower .btn-cta i {
  font-size: 36px;
  vertical-align: top;
  margin-top: -3px;
  margin-right: 5px;
}

.hero-lower-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* After Hero
=============================*/
.after-hero {
  height: 360px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.after-hero .inner {
  border: 2px solid #fff;
  height: 100%;
  position: relative;
}

.after-hero .inner > div {
  padding-left: 30px;
  margin-top: 70px;
  width: 72.4%;
  overflow: hidden;
}

.after-hero .inner .line {
  width: 90px;
  margin-bottom: 3px;
  float: right;
}

.after-hero .inner .line-1 {
  position: absolute;
  top: 65px;
  right: 13%;
}

.after-hero .inner .line-2 {
  position: absolute;
  top: 70px;
  right: 18%;
}

.after-hero .inner p {
  font-size: 36px;
  line-height: 27px;
  margin: 0;
}

.after-hero .inner .text-1 {
  margin-left: -20px;
}

.after-hero .inner .text-2 {
  margin-bottom: 30px;
  margin-left: -10px;
}

.after-hero .inner .text-3 {
  text-align: right;
  margin-right: -5px;
}

.after-hero .inner .text-4 {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.after-hero .vline {
  height: 54px;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

/* Services
=============================*/
.services {
  background: #4A4A4A;
}

.services .line {
  width: 50px;
  margin-bottom: 15px;
}

.services .title-section {
  padding: 20px;
}

.services .title-section h1 {
  color: #A68A73;
}

.services .title-section p {
  font-size: 20px;
  line-height: 25px;
}

.clock {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-radius: 50%;
  position: relative;
  margin-top: 6px;
}

.clock .center,
.clock .line-hours,
.clock .line-minutes {
  display: inline-block;
  background: #fff;
  position: absolute;
}

.clock .center {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
}

.clock .line-hours,
.clock .line-minutes {
  height: 2px;
  transform-origin: right;
}

.clock .line-minutes {
  width: 9px;
  top: 10px;
  left: 11px;
  transform-origin: left;
  animation: minutes 100s infinite;
}

.clock .line-hours {
  width: 7px;
  top: 10px;
  right: 11px;
  transform: rotateZ(30deg);
}

.accordion-item {
  box-shadow: inset 0 3px 4px 2px rgba(0, 0, 0, 0.08);
  position: relative;
  padding-top: 56px;
}

.accordion-item:first-child button {
  box-shadow: none;
}

.accordion-item .line {
  margin-top: 12px;
}

.accordion-item.open button i {
  transform: rotate(90deg);
}

.accordion-item.open .accordion-item-content {
  height: auto;
}

.service-item-button {
  background: #D2B9A7;
  width: 100%;
  height: 56px;
  border: none;
  font-size: 28px;
  padding: 12px;
  position: relative;
  box-shadow: inset 0px 3px 4px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.service-item-button i {
  position: absolute;
  left: 20px;
  top: 30%;
  pointer-events: none;
  transition: 0.2s ease;
}

.service-item-button:hover, .service-item-button:focus {
  background: #D2B9A7;
  color: #fff;
}

.service-item-button.fixed, .service-item-button.absolute-bottom {
  left: 0;
  z-index: 100;
  box-shadow: none;
}

.service-item-button.fixed {
  position: fixed;
  top: 0;
  right: 0;
}

.service-item-button.absolute-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

.accordion-item-content {
  height: 0;
  overflow: hidden;
}

.accordion-item-list {
  padding: 0 0 20px;
}

.accordion-item-list li:last-child .line {
  display: none;
}

.service-item-title {
  font-size: 28px;
  margin-bottom: 5px;
}

.service-item-title,
.service-item-cost {
  color: #D2B9A7;
}

.service-item-duration,
.service-item-cost {
  font-family: "Comfortaa", cursive;
  display: inline-block;
  width: 90px;
  text-align: left;
}

.service-item-duration {
  margin-left: 35px;
  font-weight: 700;
}

.service-item-duration i {
  font-size: 24px;
  vertical-align: top;
  margin-right: 5px;
}

.service-item-cost {
  font-size: 16px;
}

.extras {
  background: #E0D2C8;
  font-size: 18px;
  padding: 30px 20px 40px;
  position: relative;
}

.extras > p span {
  font-family: "Comfortaa", cursive;
  float: right;
}

.extras .btn-cta {
  background: #D2B9A7;
  min-width: 200px;
}

.extras-list {
  color: #323131;
  text-align: left;
  padding: 0;
  margin-bottom: 40px;
}

.extras-list li {
  margin-bottom: 10px;
}

.extras-list .amount {
  font-size: 11px;
  float: right;
}

.deco-plus-sign {
  display: block;
  background-color: #E0D2C8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.deco-plus-sign svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.deco-plus-sign:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: -4px;
  left: -4px;
  animation: rotate 90s infinite;
}

/* Image section 2
=============================*/
.img-section-2 {
  background: #323131;
  padding: 20px;
  position: relative;
}

.img-section-2 .inner {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.img-section-2 .inner > div {
  height: 272px;
  height: 75vw;
  border: 2px solid #fff;
  position: relative;
}

.img-section-2 .inner .text {
  font-size: 48px;
  font-style: italic;
  text-align: center;
  line-height: 39px;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-section-2 .vline {
  position: absolute;
  bottom: -70px;
  left: 50%;
  z-index: 10;
}

/* Slider
=============================*/
.slider {
  height: 105vw;
  max-height: 500px;
  overflow: hidden;
}

.slider img {
  width: 100%;
}

.slider-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
  background: none;
  border: none;
  background-image: url("images/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -999px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.slick-prev {
  left: 20px;
}

.slick-next,
.slick-next:hover {
  right: 20px;
  transform: translateY(-50%) rotateY(180deg);
}

/* Open-hours
=============================*/
.hours-open {
  text-align: center;
  height: 224px;
  background-color: #D2B9A7;
  padding-top: 30px;
  position: relative;
}

.hours-open:before, .hours-open:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}

.hours-open:before {
  border-bottom: 19px solid #D2B9A7;
  top: -19px;
}

.hours-open:after {
  border-top: 19px solid #D2B9A7;
  bottom: -19px;
}

.hours-open .material-icons {
  font-size: 48px;
  margin-bottom: 15px;
}

.hours-open .text-1,
.hours-open .text-2,
.hours-open .text-3 {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 0;
}

.hours-open .text-2 {
  color: #323131;
}

.deco-double-line {
  background: #fff;
  height: 2px;
  width: 39px;
  margin: 15px auto 0;
  position: relative;
}

.deco-double-line:after {
  content: '';
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -6px;
}

/* Get directions
=============================*/
.get-directions {
  padding: 60px 0 50px;
  background-size: cover;
  background-position: center;
}

.get-directions .text {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 120px;
}

.get-directions .btn-cta {
  background: #D2B9A7;
  height: 60px;
  padding: 15px 20px;
  position: relative;
  z-index: 2;
}

.get-directions .btn-cta:after {
  z-index: 0;
}

/* Call Now
=============================*/
.call-now .img-area {
  position: relative;
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.call-now .deco-corner {
  width: 133px;
  height: 104px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.call-now .deco-corner:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}

.call-now img {
  height: 100%;
  max-width: none;
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 125px;
  transform: scale(2.2) translateX(-22%);
}

.call-now .button-area {
  background: #D2B9A7;
  height: 85px;
}

.call-now .btn-cta {
  background: #D2B9A7;
  margin: -40px auto 0;
  min-width: 200px;
}

/* Animations
=============================*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes minutes {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

/* -----------------------------------------
	05. Footer
----------------------------------------- */
.footer {
  background: #4A4A4A;
  padding: 30px 0 15px;
}

.footer .divider {
  background: #D2B9A7;
  display: inline-block;
  height: 2px;
  width: 60%;
  max-width: 200px;
  margin-bottom: 30px;
}

.alter-logo {
  background: url("images/wand.png") no-repeat center;
  padding: 60px 0 20px;
  margin-bottom: 15px;
}

.alter-logo h3 {
  margin-bottom: 0;
}

.alter-logo p {
  font-size: 18px;
  margin-bottom: 0;
}

.tel {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.location {
  font-weight: 700;
  line-height: 29px;
}

.social-links {
  margin: 30px 0 40px;
}

.social-links a {
  padding: 0 15px;
}

.footer-menu {
  font-size: 14px;
  font-weight: 700;
  padding-left: 0;
}

.footer-menu li {
  display: inline;
  padding: 0 5px;
}

.footer-menu a,
.footer-menu a:hover,
.footer-menu a:focus {
  color: #fff;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
  margin-top: -15px;
}

/* -----------------------------------------
	07. Global Mediaqueries
----------------------------------------- */
@media (max-width: 1199px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .after-hero {
    height: 100vh;
    font-size: 30px;
  }
  .after-hero .inner > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-top: 21vh;
  }
  .after-hero .inner .line-1 {
    width: 120px;
    top: 20vh;
    right: 47vh;
  }
  .after-hero .inner .line-2 {
    width: 120px;
    top: 19vh;
    right: 45vh;
  }
  .after-hero .inner p {
    font-size: 48px;
    line-height: .8;
  }
  .after-hero .inner .text-2 {
    margin-bottom: 12vh;
  }
  .after-hero .inner .text-4 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .hero-main-text {
    top: 55%;
    bottom: auto;
    transform: translate(-50%, -50%);
    font-size: 48px;
    line-height: 1.1;
  }
  .hero-main-text .double-down-icon {
    margin-top: 20px;
  }
  .hero-main-text i {
    font-size: 30px;
  }
  .circle-back {
    width: 255px;
    height: 255px;
  }
  .circle-front {
    width: 195px;
    height: 195px;
  }
  .circle-front:after {
    width: 215px;
    height: 215px;
    border-radius: 120px;
  }
  .img-section-2 .inner > div {
    height: 700px;
    height: 94vh;
    max-height: 700px;
  }
  .slider {
    height: 100vh;
    max-height: none;
  }
  .slider img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .call-now img {
    height: auto;
    width: 100%;
    left: 0;
    top: -140%;
    bottom: auto;
    transform: none;
  }
}
